.profile__edit-button {
  background-image: url(../../../images/edit.svg);
  background-color: transparent;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 10px;
  width: 24px;
  height: 24px;
  cursor: pointer;
  display: inline;
  border: 1px solid #FFFFFF;
  margin: 0;
  transition: var(--link-transition);
}

@media screen and (max-width: 480px) {
  .profile__edit-button {
    width: 21px;
    height: 21px;
  }
}

@media screen and (max-width: 400px) {
  .profile__edit-button {
    width: 18px;
    height: 18px;
    background-size: 10px;
  }
}

.profile__edit-button:hover {
  opacity: var(--hovered-link-opacity);
}