.profile__avatar-overlay::before {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-repeat: no-repeat;
  background-position: center;
  background-color: rgba(0, 0, 0, 0.8);
  background-image: url("../../../images/edit-avatar.svg");
  opacity: 0;
  content: '';
  transition: 0.3s;
  cursor: pointer;
}

.profile__avatar-overlay:hover::before {
  opacity: 1;
}